@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Telivigala&family=Cabin:wght@400;500;600&family=IBM+Plex+Sans&family=Ultra&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Telivigala&family=Cabin:wght@400;500;600&family=IBM+Plex+Sans&family=Raleway:wght@300&family=Ultra&family=Yuji+Syuku&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}

.heading{
    display: flex;
    align-items: center;
    height: 580px;

}